@font-face{
  font-family: 'roboto-condensed';
  src: url('/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}


svg {
  width: 680px;
  height: 200px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {

    font-family: 'roboto-condensed';
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    // background: url(mountainsgreensharp.svg) ;
    // background-size: 680px;
    // background-repeat: repeat-x;
    // background-position: 25% 25%;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {


    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;

        path {
            fill:#585858;
        }
    }
}


.reading {
  width: 225px;
  display: inline-block;
  padding: 2px;
  border: 0.2px solid black;
  margin: 10px 5px 10px 5px;
  // margin-bottom: 10px;


  @include media-query($on-palm) {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;

  }
}

.reading:hover {
  background-color: #E0E0E0;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
   -webkit-transform: scale(1.05);
   -webkit-filter: contrast(90%);
}


.projects  {
  width: 200px;
  // height: 150px;
  display: inline-block;
  padding: 2px;
  border: 0.2px solid black;
  margin: 10px 5px 10px 5px;
  // margin-bottom: 10px;


  @include media-query($on-palm) {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;

  }

}

.projects-horizontal{

  position: relative;
  width: 225px;
  height: 170px;
  display: inline-block;
  vertical-align: top;
  padding: 2px;
  border: 0.2px solid white;
  margin: 10px 5px 10px 5px;
  // margin-bottom: 10px;


  @include media-query($on-palm) {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;

  }
}

.projects-horizontal :hover {
  background-color: #E0E0E0;
  // width: 140px;
  // height: 140px;
  //  -webkit-border-radius: 100px;
  //  -moz-border-radius: 100px;
  //  border-radius: 100px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
   -webkit-transform: scale(1.05);
   -webkit-filter: contrast(90%);
}

.project-title-horizontal {
  position: absolute;
  top: 150px;
  color: white;
  font: bold;
  width: 225px;
  text-indent: 10px;
  // letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.3);
}

.projects-vertical {

}

.projects-vertical{

  position: relative;
  width: 225px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 2px;
  border: 0.2px solid white;
  margin: 10px 5px 10px 5px;
  // margin-bottom: 10px;


  @include media-query($on-palm) {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;

  }
}

.projects-vertical :hover {
  background-color: #E0E0E0;
  // width: 140px;
  // height: 140px;
  //  -webkit-border-radius: 100px;
  //  -moz-border-radius: 100px;
  //  border-radius: 100px;
  //  -webkit-transition: all 0.1s ease;
  //  -moz-transition: all 0.3s ease;
  //  -o-transition: all 0.3s ease;
  //  -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
   -webkit-transform: scale(1.05);
   -webkit-filter: contrast(90%);
}

.project-title-vertical {
  position: absolute;
  top: 225px;
  color: white;
  font: bold;
  width: 225px;
  text-indent: 10px;
  // letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.3);
}

#medium_logo {
  margin: 5px;
}


#medium_logo :hover {
    background-color: #EEEEEE;
   -webkit-transition: all 0.1s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
   -webkit-transform: scale(1.05);
}

.blog_block {

  // margin: auto;
  text-align: center;

}
